


.form-container {
	background-color: #ffffff;
	padding: 40px 30px;
	border-radius: 15px;
	border: 2px solid var(--form-border-color); /* Marco */
	box-shadow: 0 6px 15px var(--form-shadow); /* Sombra */
	width: 100%;
	max-width: 800px;
}

/* Estilo de la línea divisoria con efecto de expansión */
.divider {
	display: flex;
	align-items: center;
	margin: 20px 0;
	color: #707070; /* Color para el texto de la división */
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
}

.divider:after,
.divider:before {
	content: "";
	flex: 1;
	height: 2px;
	background: var(--divider-color);
	border-radius: 2px;
	transition: transform 0.3s ease;
}

.divider:after {
	margin-left: 10px;
}

.divider:before {
	margin-right: 10px;
}

.divider:hover:after,
.divider:hover:before {
	transform: scaleX(1.2); /* Efecto de expansión en hover */
}

/* Contenedor con altura adaptable */
.h-custom {
	height: calc(100vh - 80px);
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Logo con sombra y efecto sutil en hover */
.main-logo {
	width: 200px;
	height: auto;
	margin: 0 auto 20px;
	display: block;
	filter: drop-shadow(0px 4px 4px var(--logo-shadow));
	transition: transform 0.3s ease, filter 0.3s ease;
}

.main-logo:hover {
	transform: scale(1.05); /* Aumento de tamaño en hover */
	filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25)); /* Sombra más intensa en hover */
}